<!DOCTYPE html>
<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180244749-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'UA-180244749-2');
	</script>
	<link id="pro-style" rel="stylesheet" href="/css/profile.css">
	<link rel="stylesheet" href="/css/navigationBar.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>
	<!-- <script type="text/javascript" src="profile.js"></script> -->
	<title>Profile Page</title>
</head>

<body onload="fillinVar()">
	<nav class="navigationBar d-flex">
		<div class="navigationContainer d-flex">
			<img src="/GO_OFF_LOGO.svg" class="navigationLogo align-self-center">

			<div class="navigationIcons align-self-center">
				<!--<a href=""><img src="/plus.svg" class="navIcon"></a>-->
				<div class="droparrow align-self-center">
					<div id="plusdrop" class="dropdown-arrowcontent" style="top: 100%;">
						<a data-target="#add-media" data-toggle="modal" class="MainNavText" id="media-adder"
							style="display: inline-block;" href="#add-media">Media</a>
						<!--<a href="/following" target="_blank" id="following-count" style="display: inline-block;"></a>-->
						<!-- Modal -->
						<div class="modal fade" id="add-media" tabindex="-1" role="dialog"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Media</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form action="/api/users/add_article" method="post">
											<label class="url-label" for="userArticle">URL</label><br>
											<input type="text" id="userArticle" name="userArticle">
											<input type="submit" value="Submit" class="submit-btn">
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- <a href="/profile_edit">Folder</a> -->
						<a href="https://www.go-off.co/">Convo</a>
					</div>
				</div>
				<a href="/feed"><img src="/home.svg" class="navIcon"></a>
				<a href=""><img src="/mail.svg" class="navIcon"></a>
				<a href="" id="notif"><img src="/notification.svg" class="navIcon"><%=numUpcoming%></a>
				<a href=""><img src="/chart.svg" class="navIcon"></a>
				<img onclick="dropclick1('plusdrop')" src="/plus.svg" class="navIcon">
			</div>

			<div class="searchContainer align-self-center d-flex">
				<!-- <form id="bar_form"> SEARCH BAR NEEDS TO BE CONNECTED -->
				<img src="/search_icon.svg" class="search-icon align-self-center">
				<input type="text" id="search" placeholder="Search" autocomplete="off" onkeyup="plsWork(this.value)">
				<!-- </form> -->
				<!--<p>Suggestions: <span id="txtHint"></span></p>-->
			</div>

			<div id="search-input-results" style="visibility: hidden">
				<a id="search-1"></a>
				<a id="search-2"></a>
				<a id="search-3"></a>
				<a id="search-4"></a>
				<a id="search-5"></a>
			</div>

			<div class="navigationProfile d-flex">
				<div class="align-self-center">
					<a href="">
						<img id="fprofpic" src="https://miro.medium.com/max/316/1*LGHbA9o2BKka2obwwCAjWg.jpeg"
							class="navigationProfilePic">
						<p class="navigationProfileName"></p>

						<span id="pname"></span>
					</a>
				</div>

				<div class="droparrow align-self-center">
					<img onclick="dropclick1('arrowdrop')" src="/chevron_down.svg" id="arrows" />
					<div id="arrowdrop" class="dropdown-arrowcontent">
						<a id="profbutton" href="">Profile</a>
						<a href="/profile_edit">Settings</a>
						<a href="https://www.go-off.co/">Log Out</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- <button type="submit" id="Plus">
        <img src="/Plus.jpg" alt="add icon" height="65" width="50">
    </button> -->

	<!-- <button type="submit" id="Submit" onclick="searchBar()">
		<img src="/Search.png" alt="profile icon 1" class="img-circle"
			style="width: 5%; height: auto; margin-left: 85%;">
	</button>
	<button id="Cancel" onclick="searchBar1()">Cancel</button> -->

	<!-- <form id="bar_form">
        <input type="text" id="search" style="display: block" placeholder="Filter">
	</form> -->

	<div class="pageContainer">
		<div id="top-profile">
			<img id="profile-pic">

			<div id="user-info-container">
				<h1 id="profile-name"></h1>
				<input type="button" value="Follow" id="followbtn" onclick="testclick()"></input>
				<h3 id="user-name"></h3>

				<div id="user-data">
					<!--<a href="/followers" target="_blank" id="follower-count" style="display: inline-block;"></a>-->
					<a data-target="#follower-modal" data-toggle="modal" class="MainNavText" id="follower-count"
						style="display: inline-block;" href="#follower-modal"></a>
					<p id="followers-text" style="display: inline-block;">followers</p>
					<!--<a href="/following" target="_blank" id="following-count" style="display: inline-block;"></a>-->
					<!-- Modal -->
					<div class="modal fade" id="follower-modal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Followers</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<iframe width="300" height="380" frameborder="0" allowtransparency="true"
										id="follower-iframe"></iframe>
								</div>
							</div>
						</div>
					</div>

					<a data-target="#following-modal" data-toggle="modal" class="MainNavText" id="following-count"
						style="display: inline-block;" href="#following-modal"></a>
					<!--<a href="/following" target="_blank" id="following-count" style="display: inline-block;"></a>-->
					<p id="following-text" style="display: inline-block;">following</p>
					<!-- Modal -->
					<div class="modal fade" id="following-modal" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Following</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<iframe src="/following" id="following-iframe" width="500px" height="400px"
										frameborder="0" allowtransparency="true"></iframe>
								</div>
							</div>
						</div>
					</div>


					<h4 id="post-count" style="display: inline-block;"></h4> <!-- hiding post count for now -->
					<p id="post-count-text" style="display: inline-block;">posts</p>

					<h4 id="location" style="display: inline-block;"></h4>

					<h4 id="bio"></h4>
				</div>
			</div>
		</div>

		<!--<div id="tabs-container" style="margin-top: 100px;">
			<hr>
			<nav>
				<ul id="tabs-ul">
					<li class="tabs-li"><a href="#" class="tabs-a">Media</a></li>
					<li class="tabs-li"><a href="#" class="tabs-a">Folders</a></li>
					<li class="tabs-li"><a href="#" class="tabs-a">Convos</a></li>
					<li class="tabs-li"><a data-target="#following-modal" data-toggle="modal" class="tabs-a"
							href="#following-modal">Following</a></li>
				</ul>
			</nav>
		</div> -->

		<div class="tab" id="tabs-container" style="margin-top: 112px">
			<hr id="line">
			<button class="tablinks active" onclick="openCity(event, 'Media')">Media</button>
			<button class="tablinks" onclick="openCity(event, 'Folders')">Folders</button>
			<button class="tablinks" onclick="openCity(event, 'Content')">Conversations</button>
			<!--<button class="tablinks" onclick="openCity(event, 'Following')">Following</button>-->
			<button class="tablinks" a data-target="#following-modal" data-toggle="modal"
				href="#following-modal">Following</button>
		</div>

		<div id="Media" class="tabcontent" style="display: block;">
			<div id="user-articles-container">
				<h1 id="articles-text">USER CONTENT</h1>

				<div id="user-article-1" class="article">
					<a id="user-article1_link">
						<div class="article-image-container">
							<img id="user-article-1-image" class="article-image">
						</div>
					</a>

					<div class="article-info-container">
						<a id="user-article1_link2">
							<h4 id="user-article-1-author" class="article-author"></h4>
						</a>
						<a id="user-article1_link3">
							<h4 id="user-article-1-read-time" class="article-read-time"></h4>
						</a>
						<a id="user-article1_link1">
							<h3 id="user-article-1-title" class="article-title"></h3>
						</a>
					</div>

					<div class="article-info-bottom-container">
						<img src="https://miro.medium.com/max/316/1*LGHbA9o2BKka2obwwCAjWg.jpeg"
							class="posted-user-img">
						<!-- POSTED BY USER PROFILE PICTURE -->
						<p>Posted by User</p>

						<!-- <img src="/more_horiz.svg" class="horiz-icon"> -->
						<div class="dropdown">
							<img src="/more_horiz.svg" class="more-horiz" data-toggle="dropdown">

							<ul class="dropdown-menu">
								<!-- <li><a href="" tabindex="-1" onclick="sendreq()" id="update4" style="visibility: visible">Save to profile</a></li> -->
								<li class="dropdown-submenu">
									<li><a id="user-article1check_link" href="">Check Conversations</a></li>
									<a id="save-to-folder" onclick="dropclickfolders1()">Save to folder</a>
									<ul class="dropdown-menu" id="folders-options1">
										<li><a href="" tabindex="-1" onclick="sendfolderreq('Business/Tech')">Business/Tech</a></li>
										<li><a href="" tabindex="-1" onclick="sendfolderreq('Art/Literature')">Art/Literature</a></li>
										<li><a href="" tabindex="-1" onclick="sendfolderreq('Miscellaneous')">Miscellaneous</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- <div class="user-Chat1" id="update1" style="display: none;">
					<form action="/api/users/add_article1" method="post">
						<label for="url">Article Url:</label>
						<input type="text" id="url" name="article">
						<input type="submit" value="update">
					</form>
				</div> -->

				<div id="user-article-2" class="article">
					<a id="user-article2_link">
						<div class="article-image-container">
							<img id="user-article-2-image" class="article-image">
						</div>
					</a>

					<div class="article-info-container">
						<a id="user-article2_link2">
							<h4 id="user-article-2-author" class="article-author"></h4>
						</a>
						<a id="user-article2_link3">
							<h4 id="user-article-2-read-time" class="article-read-time"></h4>
						</a>
						<a id="user-article2_link1">
							<h3 id="user-article-2-title" class="article-title"></h3>
						</a>
					</div>

					<div class="article-info-bottom-container">
						<img src="https://miro.medium.com/max/316/1*LGHbA9o2BKka2obwwCAjWg.jpeg"
							class="posted-user-img">
						<!-- POSTED BY USER PROFILE PICTURE -->
						<p>Posted by User</p>

						<!-- <img src="/more_horiz.svg" class="horiz-icon"> -->
						<div class="dropdown">
							<img src="/more_horiz.svg" class="more-horiz" data-toggle="dropdown">

							<ul class="dropdown-menu">
								<!-- <li><a href="" tabindex="-1" onclick="sendreq()" id="update4" style="visibility: visible">Save to profile</a></li> -->
								<li class="dropdown-submenu">
									<li><a id="user-article2check_link" href="">Check Conversations</a></li>
									<a id="save-to-folder" onclick="dropclickfolders2()">Save to folder</a>
									<ul class="dropdown-menu" id="folders-options2">
										<li><a href="" tabindex="-1" onclick="sendfolderreq('Business/Tech')">Business/Tech</a></li>
										<li><a href="" tabindex="-1" onclick="sendfolderreq('Art/Literature')">Art/Literature</a></li>
										<li><a href="" tabindex="-1" onclick="sendfolderreq('Miscellaneous')">Miscellaneous</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
<!-- 
				<div class="user-Chat2" id="update2" style="display: none;">
					<form action="/api/users/add_article2" method="post">
						<label for="url">Article Url:</label>
						<input type="text" id="url" name="article">
						<input type="submit" value="update">
					</form>
				</div> -->

				<div id="user-article-3" class="article">
					<a id="user-article3_link">
						<div class="article-image-container">
							<img id="user-article-3-image" class="article-image">
						</div>
					</a>

					<div class="article-info-container">
						<a id="user-article3_link2">
							<h4 id="user-article-3-author" class="article-author"></h4>
						</a>
						<a id="user-article3_link3">
							<h4 id="user-article-3-read-time" class="article-read-time"></h4>
						</a>
						<a id="user-article3_link1">
							<h3 id="user-article-3-title" class="article-title"></h3>
						</a>
					</div>

					<div class="article-info-bottom-container">
						<img src="https://miro.medium.com/max/316/1*LGHbA9o2BKka2obwwCAjWg.jpeg"
							class="posted-user-img">
						<!-- POSTED BY USER PROFILE PICTURE -->
						<p>Posted by User</p>

						<!-- <img src="/more_horiz.svg" class="horiz-icon"> -->
						<div class="dropdown">
							<img src="/more_horiz.svg" class="more-horiz" data-toggle="dropdown">

							<ul class="dropdown-menu">
								<!-- <li><a href="" tabindex="-1" onclick="sendreq()" id="update4" style="visibility: visible">Save to profile</a></li> -->
								<li class="dropdown-submenu">
									<li><a id="user-article3check_link" href="">Check Conversations</a></li>
									<a id="save-to-folder" onclick="dropclickfolders3()">Save to folder</a>
									<ul class="dropdown-menu" id="folders-options3">
										<li><a href="" tabindex="-1" onclick="sendfolderreq('Business/Tech')">Business/Tech</a></li>
										<li><a href="" tabindex="-1" onclick="sendfolderreq('Art/Literature')">Art/Literature</a></li>
										<li><a href="" tabindex="-1" onclick="sendfolderreq('Miscellaneous')">Miscellaneous</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- <div class="user-Chat3" id="update3" style="display:none">
					<form action="/api/users/add_article3" method="post">
						<label for="url">Article Url:</label>
						<input type="text" id="url" name="article">
						<input type="submit" value="update">
					</form>
				</div> -->

				<div id="user-article-4" class="article">
					<a id="user-article4_link">
						<div class="article-image-container">
							<img id="user-article-4-image" class="article-image">
						</div>
					</a>

					<div class="article-info-container">
						<a id="user-article4_link2">
							<h4 id="user-article-4-author" class="article-author"></h4>
						</a>
						<a id="user-article4_link3">
							<h4 id="user-article-4-read-time" class="article-read-time"></h4>
						</a>
						<a id="user-article4_link1">
							<h3 id="user-article-4-title" class="article-title"></h3>
						</a>
					</div>

					<div class="article-info-bottom-container">
						<img src="https://miro.medium.com/max/316/1*LGHbA9o2BKka2obwwCAjWg.jpeg"
							class="posted-user-img">
						<!-- POSTED BY USER PROFILE PICTURE -->
						<p>Posted by User</p>

						<!-- <img src="/more_horiz.svg" class="horiz-icon"> -->
						<div class="dropdown">
							<img src="/more_horiz.svg" class="more-horiz" data-toggle="dropdown">

							<ul class="dropdown-menu">
								<!-- <li><a href="" tabindex="-1" onclick="sendreq()" id="update4" style="visibility: visible">Save to profile</a></li> -->
								<li class="dropdown-submenu">
									<li><a id="user-article4check_link" href="">Check Conversations</a></li>
									<a id="save-to-folder" onclick="dropclickfolders4()">Save to folder</a>
									<ul class="dropdown-menu" id="folders-options4">
										<li><a href="" tabindex="-1" onclick="sendfolderreq('Business/Tech')">Business/Tech</a></li>
										<li><a href="" tabindex="-1" onclick="sendfolderreq('Art/Literature')">Art/Literature</a></li>
										<li><a href="" tabindex="-1" onclick="sendfolderreq('Miscellaneous')">Miscellaneous</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- <div class="user-Chat4" id="update4" style="display:none">
					<form action="/api/users/add_article4" method="post" id="Dot4">
						<label for="url">Article Url:</label>
						<input type="text" id="url" name="article">
						<input type="submit" value="update">
					</form>
				</div> -->
			</div>
		</div>

		<div id="Folders" class="tabcontent" style="display: none;">
			<div id="user-folder-container">
				<h1 id="folders-text">RECENTLY ADDED</h1>
				<div id="folder-1" class="article">
					<a id="folder1_link">
						<div class="article-image-container">
							<img id="article-1-image" src="/biztech.png" class="article-image">
						</div>
						<p id="folder1_title">Business/Tech</p>
					</a>

					<!--<div class="user-Chat4" id="update4" style="display:none">
						<form action="/api/users/add_article4" method="post" id="Dot4">
							<label for="url">Article Url:</label>
							<input type="text" id="url" name="article">
							<input type="submit" value="update">
						</form>
					</div>-->
					<button onclick=saveArticles()>Check Contents</button>
				</div>

				<div id="folder-2" class="article">
					<a id="folder2_link">
						<div class="article-image-container">
							<img id="article-1-image" src="/artlit.jpeg" class="article-image">
						</div>
						<p id="folder2_title">Art/Literature</p>
					</a>

					<!--<div class="user-Chat4" id="update4" style="display:none">
						<form action="/api/users/add_article4" method="post" id="Dot4">
							<label for="url">Article Url:</label>
							<input type="text" id="url" name="article">
							<input type="submit" value="update">
						</form>
					</div>-->
					<button onclick=saveArticles2()>Check Contents</button>
				</div>

				<div id="folder-3" class="article">
					<a id="folder3_link">
						<div class="article-image-container">
							<img id="article-1-image" src="/misc.jpeg" class="article-image">
						</div>
						<p id="folder3_title">Miscellaneous</p>

					</a>

					<!--<div class="user-Chat4" id="update4" style="display:none">
						<form action="/api/users/add_article4" method="post" id="Dot4">
							<label for="url">Article Url:</label>
							<input type="text" id="url" name="article">
							<input type="submit" value="update">
						</form>
					</div>-->
					<button onclick=saveArticles3()>Check Contents</button>
				</div>

				<!-- <div id="folder-4" class="article">
					<a id="folder4_link">
						<div class="article-image-container">
							<img id="article-1-image" class="article-image">
						</div>
						<p id="folder4_title"></p>

					</a>

					<!--<div class="user-Chat4" id="update4" style="display:none">
						<form action="/api/users/add_article4" method="post" id="Dot4">
							<label for="url">Article Url:</label>
							<input type="text" id="url" name="article">
							<input type="submit" value="update">
						</form>
					</div>
					<a onclick=saveArticles3()>button</a>
				</div> -->
			</div>
		</div>

		<div id="Content" class="tabcontent" style="display: none;">
			<div class="tab" id="tabs-container">
				<hr id="tablink-line">
				<button class="tablinks1 active" onclick="openCity1(event, 'upcoming_convo')">Upcoming Convos</button>
				<button class="tablinks1" onclick="openCity1(event, 'prev_convo')">Previous Convos</button>
			</div>

			<div id="upcoming_convo" class="tabcontent1" style = "display: block;">
				<div id="convo-container">
					<div id="convo-img-container">
						<img id="convo-img">
					</div>
					<% for(var i=0; i < upConvos.length; i++) { %>
						<div id="upcoming_convo" class="tabcontent1">
							<div id="convo-container">
								<div id="convo-img-container">
									<img id="convo-img" src="<%=upConvos[i].img%>">
								</div>
								<div id="convo-right-content">
									<p id="convo-date"><%=upConvos[i].date%></p>
									<p id="convo-title"><%=upConvos[i].title%></p>
									<p id="convo-description">Description</p>
									<span id="convo-host"><img src="https://miro.medium.com/max/316/1*LGHbA9o2BKka2obwwCAjWg.jpeg" id="convo-usr-pfp"> Hosted by <%=upConvos[i].host%>></span>
								
									<div id="convo-btns">
										<!-- SHARE BUTTON NO FUNCTIONALITY YET 
										<a><img src="/share_outline.svg" id="convo-share-btn"></a> -->
										<button id="go-to-convo-button" onclick="window.location.href='/chat/<%=upConvos[i].id%>'">Go to Convo</button>
									</div>
								</div>
							</div>
						</div>
					 <% } %>
		<!-- </div> -->
					<!--<div id="convo-right-content">
						<p id="convo-date">Thursday, November 19, 7:30 PM EDT</p>
						<p id="convo-title">Title of Convo</p>
						<p id="convo-description">Description</p>
						<span id="convo-host"><img src="https://miro.medium.com/max/316/1*LGHbA9o2BKka2obwwCAjWg.jpeg" id="convo-usr-pfp"> Hosted by Name</span>
						
						<div id="convo-btns">
							<a><img src="/share_outline.svg" id="convo-share-btn"></a>
							<button id="go-to-convo-button">Go to Convo</button>
						</div>
					</div>-->
				<!--</div>-->
				</div>
			</div>

			<div id="prev_convo" class="tabcontent1" style="display: none;">
				<!--<div id="convo-container">
					<div id="convo-img-container">
						<img id="convo-img">
					</div> -->
					<% for(var i=0; i < prevConvos.length; i++) { %>
							<div id="convo-container">
								<div id="convo-img-container">
									<img id="convo-img" src="<%=prevConvos[i].img%>">
								</div>
								<div id="convo-right-content">
									<p id="convo-date"><%=prevConvos[i].date%></p>
									<p id="convo-title"><%=prevConvos[i].title%></p>
									<p id="convo-description">Description</p>
									<span id="convo-host"><img src="https://miro.medium.com/max/316/1*LGHbA9o2BKka2obwwCAjWg.jpeg" id="convo-usr-pfp"> Hosted by <%=prevConvos[i].host%></span>
									
									<div id="convo-btns">
										<!-- SHARE BUTTON NO FUNCTIONALITY YET
										<a><img src="/share_outline.svg" id="convo-share-btn"></a> -->
										<button id="go-to-convo-button" onclick="window.location.href='/chat/<%=prevConvos[i].id%>'">Go to Convo</button>
									</div>
								</div>
							</div>
					 <% } %>
					 
					<!--<div id="convo-right-content">
						<p id="convo-date">Thursday, November 19, 7:30 PM EDT</p>
						<p id="convo-title">Title of Convo</p>
						<p id="convo-description">Description</p>
						<span id="convo-host"><img src="https://miro.medium.com/max/316/1*LGHbA9o2BKka2obwwCAjWg.jpeg" id="convo-usr-pfp"> Hosted by Name</span>
						
						<div id="convo-btns">
							<a><img src="/share_outline.svg" id="convo-share-btn"></a>
							<button id="go-to-convo-button">Go to Convo</button>
						</div>
					</div>-->
				<!--</div>
		</div> -->
			</div> 
			</div>

		<div id="Following" class="tabcontent">
		</div>
	

	<footer>
		<div class="footer-container">
			<img src="/GO_OFF_LOGO.svg" id="footer-logo">

			<div class="footer-link-container">
				<a href="https://www.gooffco.com/">
					<button type="submit" id="home">
						<!-- <img src="/home.svg" alt="house icon" height="20" width="20">-->Home
					</button>
				</a>

				<a
					href="https://docs.google.com/forms/d/e/1FAIpQLScRZFA4owbzMnqmcS2D02LMqHks2RhoQfvfwZpTpcGtOkWwLA/viewform">
					<button type="submit" id="profile">
						<!-- <img src="https://i7.pngguru.com/preview/906/222/368/computer-icons-user-profile-avatar-french-people.jpg"
							alt="profile icon" height="20" width="20" /> -->
						Beta Sign Up
					</button>
				</a>

				<a href="Mailto:sn23@bu.edu">
					<button type="submit" id="contact">
						Contact us
					</button>
				</a>
			</div>
		</div>
	</footer>
	<!-- <button type="submit" id="Notification">
    <img src="https://freeiconshop.com/wp-content/uploads/edd/notification-outline.png" alt="notification icon" height="20" width="20"/>
    Notifications
</button> -->


	<script>
		/*
		    if ("maxTouchPoints" in navigator) { 
		        hasTouchScreen = navigator.maxTouchPoints > 0;
		    } else if ("msMaxTouchPoints" in navigator) {
		        hasTouchScreen = navigator.msMaxTouchPoints > 0; 
		    } else {
		        var mQ = window.matchMedia && matchMedia("(pointer:coarse)");
		        if (mQ && mQ.media === "(pointer:coarse)") {
		            hasTouchScreen = !!mQ.matches;
		        } else if ('orientation' in window) {
		            hasTouchScreen = true; // deprecated, but good fallback
		        } else {
		            // Only as a last resort, fall back to user agent sniffing
		            var UA = navigator.userAgent;
		            hasTouchScreen = (
		                /\b(BlackBerry|webOS|iPhone|IEMobile)\b/i.test(UA) ||
		                /\b(Android|Windows Phone|iPad|iPod)\b/i.test(UA)
		            );
		        }
		    }
		*/
		//NOTE: This is not the recommended way to detect mobile anymore, in the future
		// it will be better to just make the site responsive by default
		var UA = navigator.userAgent;
		hasTouchScreen = (
			/\b(BlackBerry|webOS|iPhone|IEMobile)\b/i.test(UA) ||
			/\b(Android|Windows Phone|iPad|iPod)\b/i.test(UA)
		);
		if (hasTouchScreen == true) {
			document.getElementById("pro-style").setAttribute('href', '/css/profile.css')
		}
		function saveArticles() {
			xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function () {
				console.log("returned nothigngggggalskfjs");
				if (this.readyState == 4 && this.status == 200) {
					var userArr = JSON.parse(this.responseText);
					console.log("ahhhhhhhhhhhhhhh", userArr.id);
					var x = userArr.id;
					window.location.href = "/folder/" + x.toString();
				}
			}
			xhr.open("GET", '/api/savedarts?namez=' + document.getElementById("folder1_title").textContent, true);
			xhr.send();
		}
		function saveArticles2() {
			xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function () {
				console.log("returned nothigngggggalskfjs");
				if (this.readyState == 4 && this.status == 200) {
					var userArr = JSON.parse(this.responseText);
					console.log("ahhhhhhhhhhhhhhh", userArr.id);
					var x = userArr.id;
					window.location.href = "/folder/" + x.toString();
				}
			}
			xhr.open("GET", '/api/savedarts?namez=' + document.getElementById("folder2_title").textContent, true);
			xhr.send();
		}
		function saveArticles3() {
			xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function () {
				console.log("returned nothigngggggalskfjs");
				if (this.readyState == 4 && this.status == 200) {
					var userArr = JSON.parse(this.responseText);
					console.log("ahhhhhhhhhhhhhhh", userArr.id);
					var x = userArr.id;
					window.location.href = "/folder/" + x.toString();
				}
			}
			xhr.open("GET", '/api/savedarts?namez=' + document.getElementById("folder3_title").textContent, true);
			xhr.send();
		}
		function testclick() {
			var xhr = new XMLHttpRequest();
			xhr.open("POST", '/api/users/follower_update', true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify({
				username: document.getElementById("user-name").innerHTML.substring(1)
			}));
			//change colors based off click
			if (document.getElementById("followbtn").value == "FOLLOW") {
				console.log("test");
				document.getElementById("followbtn").value = "FOLLOWING";
			} else {
				document.getElementById("followbtn").value = "FOLLOW";
			}
		}
		//document.getElementById("bar_form").style.visibility = "hidden";
		//FOR TAB FUNCTIONALITY
		function openCity(evt, cityName) {
			// Declare all variables
			var i, tabcontent, tablinks;
			// Get all elements with class="tabcontent" and hide them
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			// Get all elements with class="tablinks" and remove the class "active"
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			// Show the current tab, and add an "active" class to the button that opened the tab
			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";
		}
		//FOR TAB FUNCTIONALITY
		function openCity1(evt, cityName) {
			console.log(cityName);
			// Declare all variables
			var i, tabcontent, tablinks;
			// Get all elements with class="tabcontent" and hide them
			tabcontent = document.getElementsByClassName("tabcontent1");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			// Get all elements with class="tablinks" and remove the class "active"
			tablinks = document.getElementsByClassName("tablinks1");
			for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			// Show the current tab, and add an "active" class to the button that opened the tab
			document.getElementById(cityName).style.display = "block";
			evt.currentTarget.className += " active";
		}
		//SEARCH BAR function
		function plsWork(str) {
			str.toLowerCase();
			var stringz = ""
			var count = 1
			if (str.length < 2) {
				document.getElementById('search-input-results').style.visibility = 'hidden';
				document.getElementById("search-1").innerText = "";
				document.getElementById("search-2").innerText = "";
				document.getElementById("search-3").innerText = "";
				document.getElementById("search-4").innerText = "";
				document.getElementById("search-5").innerText = "";
				return;
			} else {
				document.getElementById('search-input-results').style.visibility = 'visible';
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						var names = JSON.parse(this.responseText);
						console.log(this.responseText);
						for (var i = 0; i < names.length; i++) {
							var obj = names[i].username;
							var na = names[i].name;
							var l_obj = obj.toLowerCase();
							var l_na = na.toLowerCase();
							if (count < 6 && (l_obj.includes(str) || l_na.includes(str))) {
								var search_id = "search-" + count.toString();
								document.getElementById(search_id).setAttribute("href", "/profiles/" + obj);
								document.getElementById(search_id).innerText = na;
								count = count + 1;
							}
						}
					}
				};
				xmlhttp.open("GET", "/api/users/all", true);
				xmlhttp.send();
			}
		}
		function searchBar() {
			document.getElementById("Submit").style.visibility = "hidden";
			// document.getElementById("Plus").style.visibility = "hidden";
			document.getElementById("Cancel").style.visibility = "visible";
			document.getElementsByClassName('fprofpic')[0].style.visibility = "hidden";
			document.getElementsByClassName('fpname')[0].style.visibility = "hidden";
			//document.getElementsByClassName('lpname')[0].style.visibility = "hidden";
			document.getElementById("bar_form").style.visibility = "visible";
			document.getElementById("droparrow").style.display = "none";
		}
		function searchBar1() {
			document.getElementById("Submit").style.visibility = "visible";
			// document.getElementById("Plus").style.visibility = "visible";
			document.getElementById("Cancel").style.visibility = "hidden";
			document.getElementsByClassName('fprofpic')[0].style.visibility = "visible";
			document.getElementsByClassName('fpname')[0].style.visibility = "visible";
			//document.getElementsByClassName('lpname')[0].style.visibility = "visible";
			document.getElementById("bar_form").style.visibility = "hidden";
			document.getElementById("droparrow").style.display = "block";
		}
		// $(window).resize(function() {
		//     console.log('window was resized');
		// });
		// window.onload = function() {
		//     var d = document.getElementsByTagName("profile-name")
		//     if (d.offsetHeight < d.scrollHeight ||
		//         d.offsetWidth < d.scrollWidth) {
		//     console.log("overflow");
		//     } else {
		//     console.log("no overflow");
		//     }
		// }
		// var arrow = document.getElementById("arrows");
		// arrow.addEventListener('click', function(){
		//     var x = document.getElementById("arrowdrop");
		//         if (x.style.display === "none") {
		//             x.style.display = "block";
		//         } else {
		//             x.style.display = "none";
		//         }
		// });
		function dropclick1(id) {
			var x = document.getElementById(id);
			if (x.style.display === "block") {
				x.style.display = "none";
			} else {
				x.style.display = "block";
			}
		}
		/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
		function myFunction() {
			document.getElementById("myDropdown").classList.toggle("show");
		}
		// Close the dropdown menu if the user clicks outside of it
		window.onclick = function (event) {
			if (!event.target.matches('.dropbtn')) {
				var dropdowns = document.getElementsByClassName("dropdown-content");
				var i;
				for (i = 0; i < dropdowns.length; i++) {
					var openDropdown = dropdowns[i];
					if (openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
					}
				}
			}
		}
		function dropclick5() {
			var x = document.getElementById("arrowdrop5");
			if (x.style.display === "block") {
				x.style.display = "none";
			} else {
				x.style.display = "block";
			}
		}
		function dropclick6() {
			var x = document.getElementById("dropdown-supersubmenu");
			if (x.style.display === "block") {
				x.style.display = "none";
			} else {
				x.style.display = "block";
			}
		}
		function dropclickfolders1() {
			var x = document.getElementById("folders-options1");
			if (x.style.display === "block") {
				x.style.display = "none";
			} else {
				x.style.display = "block";
			}
		}
		function dropclickfolders2() {
			var x = document.getElementById("folders-options2");
			if (x.style.display === "block") {
				x.style.display = "none";
			} else {
				x.style.display = "block";
			}
		}
		function dropclickfolders3() {
			var x = document.getElementById("folders-options3");
			if (x.style.display === "block") {
				x.style.display = "none";
			} else {
				x.style.display = "block";
			}
		}
		function dropclickfolders4() {
			var x = document.getElementById("folders-options4");
			if (x.style.display === "block") {
				x.style.display = "none";
			} else {
				x.style.display = "block";
			}
		}
		function sendreq() {
			var xhr = new XMLHttpRequest();
			var url = document.getElementById("user-article1_link1").href;
			xhr.open("POST", "/api/users/add_article", true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify({
				userArticle: url
			}));
		}
		function sendfolderreq(x) {
			var xhr = new XMLHttpRequest();
			var url = document.getElementById("user-article1_link1").href;
			xhr.open("POST", "/api/users/saveto_folder", true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			xhr.send(JSON.stringify({
				userArticle: url,
				folder: x
			}));
		}
		function passurl1() {
			var xhr1 = new XMLHttpRequest();
			xhr1.onreadystatechange = function () {
				// if (this.readyState == 4 && this.status == 200) {
				console.log(this.responseText);
				var idnum = JSON.parse(this.responseText);
				// console.log('the idnum set to', idnum.id);
				// socket.emit('room', idnum.id); //sets the room to that idnum returned
				console.log("hello");
				console.log(idnum);
				location.href = "/chat/" + idnum.id;
				console.log(location.href)
				// }else{
				//     console.log("its not working");
				// }
			};
			console.log(document.getElementById("article1_link").href);
			xhr1.open("GET", '/api/chat/getid?article=' + document.getElementById("article1_link").href, true);
			xhr1.send();
		}
		function passurl2() {
			var xhr2 = new XMLHttpRequest();
			xhr2.onreadystatechange = function () {
				// if (this.readyState == 4 && this.status == 200) {
				var idnum = JSON.parse(this.responseText);
				// console.log('the idnum set to', idnum.id);
				// socket.emit('room', idnum.id); //sets the room to that idnum returned
				console.log("hello");
				location.href = "/chat/" + idnum.id;
				// }else{
				//     console.log("its not working");
				// }
			};
			console.log(document.getElementById("article1_link").href);
			xhr2.open("GET", '/api/chat/getid?article=' + document.getElementById("article2_link").href, true);
			xhr2.send();
		}
		function passurl3() {
			var xhr3 = new XMLHttpRequest();
			xhr3.onreadystatechange = function () {
				// if (this.readyState == 4 && this.status == 200) {
				var idnum = JSON.parse(this.responseText);
				// console.log('the idnum set to', idnum.id);
				// socket.emit('room', idnum.id); //sets the room to that idnum returned
				console.log(idnum);
				console.log("hello");
				location.href = "/chat/" + idnum.id;
				// }else{
				//     console.log("its not working");
				// }
			};
			console.log(document.getElementById("article3_link").href);
			xhr3.open("GET", '/api/chat/getid?article=' + document.getElementById("article3_link").href, true);
			xhr3.send();
		}
		function fillinVar() {
			(function () {
				var xhr = new XMLHttpRequest();
				xhr.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						console.log(this.responseText)
						var myArr = JSON.parse(this.responseText);
						console.log(myArr);
						console.log(myArr.user.is_user)
						if (myArr.user.is_following == true) {
							document.getElementById("followbtn").value = "FOLLOWING";
							console.log("works");
						}
						if (myArr.user.is_user == true) {
							document.getElementById("followbtn").style.visibility = "hidden";
							console.log("works1");
						}
						document.getElementById("pname").innerHTML = myArr.user.firstname + " " + myArr.user.lastname;
						document.getElementById("profile-name").innerHTML = myArr.user.firstname + " " + myArr.user
							.lastname + " " + myArr.user.admin;
						document.getElementById("user-name").innerHTML = "@" + myArr.user.username;
						document.getElementById("profbutton").setAttribute("src", "/profiles/<%=user%>");
						document.getElementById("following-iframe").setAttribute("src", "/following/<%=user%>");
						document.getElementById("follower-iframe").setAttribute("src", "/followers/<%=user%>");
						document.getElementById("location").innerHTML = myArr.user.location;
						document.getElementById("profile-pic").src = myArr.user.propic;
						document.getElementById("fprofpic").src = myArr.user.propic;
						document.getElementById("follower-count").innerHTML = myArr.user.followercount;
						document.getElementById("following-count").innerHTML = myArr.user.followingcount;
						document.getElementById("post-count").innerHTML = myArr.user.Posts;
						document.getElementById("location").innerHTML = myArr.user.location;
						document.getElementById("bio").innerHTML = myArr.user.bio;
						//document.getElementById("article1_link").setAttribute("href", myArr.user.article1link);
						document.getElementById("article1convolink").setAttribute("href", "/conversation?article=" +
							myArr.user.article1link);
						/*document.getElementById("article1_link1").setAttribute("href", myArr.user.article1link);
						document.getElementById("article1_link2").setAttribute("href", myArr.user.article1link);
						document.getElementById("article1_link3").setAttribute("href", myArr.user.article1link);
						document.getElementById("article-1-image").src = myArr.user.article1img;
						document.getElementById("article-1-title").innerHTML = myArr.user.article1title;
						document.getElementById("article-1-author").innerHTML = myArr.user.article1author;
						document.getElementById("article-1-read-time").innerHTML = myArr.user.article1readtime;
						document.getElementById("article2_link").setAttribute("href", myArr.user.article2link);
						document.getElementById("article2_link1").setAttribute("href", myArr.user.article2link);
						document.getElementById("article2_link2").setAttribute("href", myArr.user.article2link);
						document.getElementById("article2_link3").setAttribute("href", myArr.user.article2link);
						document.getElementById("article-2-image").src = myArr.user.article2img;
						document.getElementById("article-2-title").innerHTML = myArr.user.article2title;
						document.getElementById("article-2-author").innerHTML = myArr.user.article2author;
						document.getElementById("article-2-read-time").innerHTML = myArr.user.article2readtime;
						document.getElementById("article3_link").setAttribute("href", myArr.user.article3link);
						document.getElementById("article3_link1").setAttribute("href", myArr.user.article3link);
						document.getElementById("article3_link2").setAttribute("href", myArr.user.article3link);
						document.getElementById("article3_link3").setAttribute("href", myArr.user.article3link);
						document.getElementById("article-3-image").src = myArr.user.article3img;
						document.getElementById("article-3-title").innerHTML = myArr.user.article3title;
						document.getElementById("article-3-author").innerHTML = myArr.user.article3author;
						document.getElementById("article-3-read-time").innerHTML = myArr.user.article3readtime;
						document.getElementById("article4_link").setAttribute("href", myArr.user.article4link);
						document.getElementById("article4_link1").setAttribute("href", myArr.user.article4link);
						document.getElementById("article4_link2").setAttribute("href", myArr.user.article4link);
						document.getElementById("article4_link3").setAttribute("href", myArr.user.article4link);
						document.getElementById("article-4-image").src = myArr.user.article4img;
						document.getElementById("article-4-title").innerHTML = myArr.user.article4title;
						document.getElementById("article-4-author").innerHTML = myArr.user.article4author;
						document.getElementById("article-4-read-time").innerHTML = myArr.user.article4readtime;*/
						console.log(myArr);
						var pageURL = window.location.href;
						var lastURLSegment = pageURL.substr(pageURL.lastIndexOf('/') + 1);
						var user = document.getElementById("user-name");
						console.log(lastURLSegment);
						console.log(myArr.user.username);
						// if (lastURLSegment == myArr.user.username){
						//     document.getElementById("followbtn").style.visibility = "hidden";
						// }
					}
				};
				xhr.open("GET", '/api/users/profile/<%=user%>', true);
				xhr.withCredentials = true;
				xhr.send();
				var xhr2 = new XMLHttpRequest();
				xhr2.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						userArticles = JSON.parse(this.responseText);
						document.getElementById("user-article1_link").setAttribute("href", userArticles.article1Url);
						document.getElementById("user-article1check_link").setAttribute("href", "/conversation/?article="+userArticles.article1Url)
						document.getElementById("user-article2check_link").setAttribute("href", "/conversation/?article="+userArticles.article2Url);
						document.getElementById("user-article3check_link").setAttribute("href", "/conversation/?article="+userArticles.article3Url);
						document.getElementById("user-article4check_link").setAttribute("href", "/conversation/?article="+userArticles.article4Url);
						document.getElementById("user-article1_link1").setAttribute("href", userArticles.article1Url);
						document.getElementById("user-article1_link2").setAttribute("href", userArticles.article1Url);
						document.getElementById("user-article1_link3").setAttribute("href", userArticles.article1Url);
						document.getElementById("user-article-1-image").src = userArticles.article1img;
						document.getElementById("user-article-1-title").innerHTML = userArticles.article1Title.substring(0,50) + "...";
						if(userArticles.article1Title.length > 50){
							document.getElementById("user-article-1-title").innerHTML = userArticles.article1Title.substring(0,50) + "...";
							console.log("works!");
						}else{
							document.getElementById("user-article-1-title").innerHTML = userArticles.article1Title;
						}
						if(userArticles.article2Title.length > 50){
							document.getElementById("user-article-2-title").innerHTML = userArticles.article2Title.substring(0,50) + "...";
							console.log("works!");
						}else{
							document.getElementById("user-article-2-title").innerHTML = userArticles.article2Title;
						}
						if(userArticles.article3Title.length > 50){
							document.getElementById("user-article-3-title").innerHTML = userArticles.article3Title.substring(0,50) + "...";
							console.log("works!");
						}else{
							document.getElementById("user-article-3-title").innerHTML = userArticles.article3Title;
						}
						if(userArticles.article4Title.length > 50){
							document.getElementById("user-article-4-title").innerHTML = userArticles.article4Title.substring(0,50) + "...";
							console.log("works!");
						}else{
							document.getElementById("user-article-4-title").innerHTML = userArticles.article4Title;
						}
						// document.getElementById("user-article-1-read-time").innerHTML = userArticles.article1Readtime;
						document.getElementById("user-article2_link").setAttribute("href", userArticles.article2Url);
						document.getElementById("user-article2_link1").setAttribute("href", userArticles.article2Url);
						document.getElementById("user-article2_link2").setAttribute("href", userArticles.article2Url);
						document.getElementById("user-article2_link3").setAttribute("href", userArticles.article2Url);
						document.getElementById("user-article-2-image").src = userArticles.article2img;
						// document.getElementById("user-article-2-title").innerHTML = userArticles.article2Title.substring(0,50) + "...";
						// document.getElementById("user-article-2-read-time").innerHTML = userArticles.article2Readtime;
						document.getElementById("user-article3_link").setAttribute("href", userArticles.article3Url);
						document.getElementById("user-article3_link1").setAttribute("href", userArticles.article3Url);
						document.getElementById("user-article3_link2").setAttribute("href", userArticles.article3Url);
						document.getElementById("user-article3_link3").setAttribute("href", userArticles.article3Url);
						document.getElementById("user-article-3-image").src = userArticles.article3img;
						// document.getElementById("user-article-3-title").innerHTML = userArticles.article3Title.substring(0,50) + "...";
						// document.getElementById("user-article-3-read-time").innerHTML = userArticles.article3Readtime;
						document.getElementById("user-article4_link").setAttribute("href", userArticles.article4Url);
						document.getElementById("user-article4_link1").setAttribute("href", userArticles.article4Url);
						document.getElementById("user-article4_link2").setAttribute("href", userArticles.article4Url);
						document.getElementById("user-article4_link3").setAttribute("href", userArticles.article4Url);
						document.getElementById("user-article-4-image").src = userArticles.article4img;
						// document.getElementById("user-article-4-title").innerHTML = userArticles.article4Title.substring(0,50) + "...";
						// document.getElementById("user-article-4-read-time").innerHTML = userArticles.article4Readtime;
					}
				}
				xhr2.open("GET", '/api/users/articles/<%=user%>', true);
				xhr2.withCredentials = true;
				xhr2.send();
				var xhr3 = new XMLHttpRequest();
				xhr3.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						var userArr = JSON.parse(this.responseText);
						if ("<%=user%>" == userArr.user.username) {
							document.getElementById("update1").style.display = '';
							document.getElementById("update2").style.display = '';
							document.getElementById("update3").style.display = '';
							document.getElementById("update4").style.visibility = 'hidden';
						}
					}
				}
				xhr3.open("GET", '/api/users/current', true);
				xhr3.withCredentials = true;
				xhr3.send();
				// fetch('http://localhost:8000/api/users/current').then(r => r.text()).then(result => {
				// document.getElementById("username").innerHTML = result.user.name;
				// console.log(result.user.name);
				// hold = document.getElementById("username");
				// console.log('hold', hold);
				// })       
				//console.log(myArr.user.admin);
				var xhr4 = new XMLHttpRequest();
				xhr4.onreadystatechange = function () {
					if (this.readyState == 4 && this.status == 200) {
						var userArr = JSON.parse(this.responseText);
						for (var i = 0; i < userArr.length; i++) {
							console.log(userArr[i].foldername);
							var x = i + 1
							document.getElementById("folder" + x.toString() + "_title").textContent = userArr[i]
								.foldername;
						}
					}
				}
				xhr4.open("GET", '/api/folders', true);
				xhr4.withCredentials = true;
				xhr4.send();
			})();
			// document.getElementById("pname").innerHTML = result.user.name;
			function test() {
				len = document.getElementById("profile-name").textContent.length;
				len = len - 1;
				if (len <= 10) {
					// console.log("test 45 10%");
					document.getElementById("profile-name").style.top = "10%";
					document.getElementById("profile-name").style.fontSize = "45px";
				} else if (len <= 20 && len > 10) {
					// console.log("test1 35 20%");
					document.getElementById("profile-name").style.top = "20%";
					document.getElementById("profile-name").style.fontSize = "35px";
				} else {
					// console.log("test2 20 30%");
					document.getElementById("profile-name").style.top = "30%";
					document.getElementById("profile-name").style.fontSize = "20px";
				}
			}
		}
	</script>

</body>

</html>
