<!DOCTYPE html>
<html lang="en">

<head>
	<meta chatset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content='ie=edge'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/chat.css">
	<link rel="stylesheet" href="/css/navigationBar.css">
	<title> Chat About It! </title>
	<style>
		/* #messages {
			height: 300px;
		}

		#logout {
			height: 50px;
			float: right;
		}

		#home {
			height: 50px;
			float: right;
		}

		.container {
			width: 100%;
			height: 550px;
		}

		.card {
			overflow-y: auto;
		} */
	</style>
</head>

<body>
	<nav class="navigationBar d-flex">
		<div class="navigationContainer d-flex">
			<img src="/GO_OFF_LOGO.svg" class="navigationLogo align-self-center">

			<div class="navigationIcons align-self-center">
				<a href=""><img src="/plus.svg" class="navIcon"></a>
				<a href=""><img src="/home.svg" class="navIcon"></a>
				<a href=""><img src="/mail.svg" class="navIcon"></a>
				<a href=""><img src="/notification.svg" class="navIcon"></a>
				<a href=""><img src="/chart.svg" class="navIcon"></a>
			</div>

			<div class="searchContainer align-self-center d-flex">
				<!-- <form id="bar_form"> SEARCH BAR NEEDS TO BE CONNECTED -->
				<img src="/search_icon.svg" class="search-icon align-self-center">
				<input type="text" id="search" placeholder="Search" onkeyup="plsWork(this.value)">
				<!-- </form> -->
				<a id="search-1"></a>
				<a id="search-2"></a>
				<a id="search-3"></a>
				<a id="search-4"></a>
				<a id="search-5"></a>
				<!--<p>Suggestions: <span id="txtHint"></span></p>-->
			</div>

			<div class="navigationProfile d-flex">
				<div class="align-self-center">
					<a href="">
						<img id="fprofpic" src="https://miro.medium.com/max/316/1*LGHbA9o2BKka2obwwCAjWg.jpeg"
							class="navigationProfilePic">
						<p class="navigationProfileName"></p>

						<span id="pname"></span>
					</a>
				</div>

				<div class="droparrow align-self-center">
					<img onclick="dropclick1()" src="/chevron_down.svg" id="arrows" />
					<div id="arrowdrop" class="dropdown-arrowcontent">
						<a href="/profile">Profile</a>
						<a href="/profile_edit">Settings</a>
						<a href="https://www.go-off.co/">Log Out</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="pageContainer">
		<div class="article-info-container">
			<div id="article-info-image-container">
				<img src="" id="article-info-image">
			</div>

			<div id="article-info-right">
				<p id="article-info-poster">New York Times</p>
				<p id="article-info-date">2 days ago</p>

				<p id="article-info-title">Article Title Goes Here</p>
				<p id="article-info-user-description">User description goes here</p>

				<div id="article-info-bottom">
					<a href="" id="article-info-article-link">articlelink.com</a>
					<p id="article-info-convo-host">John Doe</p> <!-- hosters name goes here -->
				</div>
			</div>
		</div>

		<!-- <h1 class="text-center">
			<%=title+"..."%>
		</h1> -->
		<!-- <div id="status"></div> idk what this does, so i'm commenting it out for now -->
		<div id="chat-container">
			<div id="chat">
				<!--<input type="text" id = "username" class="form-control" placeholder="Enter Name">-->
				<div id="participants">
					<h2>Participants</h2>
					<p id="username"></p>
				</div>

				<div class="card" id="card">
					<div id="messages" class="card-block">
						<h1 id="loading-text">Loading...</h1>

						<%if (status != true) { %>
						<%if (admin == true) { %>

						<% } %>
						<% } else { %>
							<p id="convo-ended">CONVERSATION HAS ENDED</p>
						<%if (admin == true) { %>
							<button onclick="window.location.href='/analytics/<%=id%>'" id="analysis-button">View chat analysis</button>
						<% } %>
						<% } %>
					</div>
				</div>
		
				<input type="text" id="textarea" class="form-control" placeholder="Send a message">
				<%if (status != true) {%>
				<button id="send">SEND</button>
				<% } %>
			</div>
		</div>

		<form method="post" action="/api/chat/leave/<%=id%>">
			<button type="submit" id="end">LEAVE CONVERSATION</button>
		</form>
		<!-- <button id="logout"> Logout </button> -->
		<%if (status != true) { %>
		<%if (admin == true) { %>
		<form method="post" action="/api/chat/end/<%=id%>">
			<button type="submit" id="end">END CONVERSATION</button>
		</form>
		<% } %>
		<% } else { %>
		<!-- <p id="convo-ended">CONVERSATION HAS ENDED</p> -->
		<%if (admin == true) { %>
		<!-- <button onclick="window.location.href='/analytics/<%=id%>'" id="analysis-button">View chat analysis</button> -->
		<% } %>
		<% } %>
		<!-- <h3>Don't forget to fill out our user experience survey!</h3>
		<br>
		<a href="https://bostonu.qualtrics.com/jfe/form/SV_1SxxCfIbHjfRDKd" target="_blank">Click here to fill
			it out!</a> -->
		<!--<button id="home">Leave the Conversation</button> -->

		<div class="ux-survey">
			<a href="https://bostonu.qualtrics.com/jfe/form/SV_1SxxCfIbHjfRDKd" target="_blank">Don't forget to fill out
				our user experience survey!</a>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>

	<script src="/<%=js%>"></script>
</body>
<!-- <div id="UXlightbox" class="lightbox">
	<span class="close cursor" onclick="closeModal()">&times;</span>
	<div class="lightbox-content">
		<a href="https://bostonu.qualtrics.com/jfe/form/SV_1SxxCfIbHjfRDKd" target="_blank">Don't forget to fill out our user experience survey!</a>
	</div>
</div> -->

</html>